<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MOCK_CLAUDE_TOKEN</key>
	<string>$(MOCK_CLAUDE_TOKEN)</string>
	<key>MOCK_OPENAI_TOKEN</key>
	<string>$(MOCK_OPENAI_TOKEN)</string>
	<key>MOCK_GEMINI_TOKEN</key>
	<string>$(MOCK_GEMINI_TOKEN)</string>
	<key>NSCameraUsageDescription</key>
	<string>Used to scan QR codes.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
